mixin loginForm()
    form.form(action="/login" method="POST")
        h2 Login
        label(for="email") Email Address
        input(type="email" name="email")
        label(for="password") Password
        input(type="password" name="password")
        label(for="remember") Remember Me
            input(type="checkbox" name="remember" style="margin-left:10px;width:initial")
        input.button(type="submit" value="Log in")